.full-width {
  width: 100%;
}
.mat-dialog-content {
  overflow: hidden !important;
}
.no-results {
  margin-top: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
.mat-column-operacoes {
  flex: 0 0 60px !important;
}
