body {
  font-family: 'Roboto', sans-serif;
}
.numero {
  font-size: 150px;
  margin-left: 80px;
  margin-top: 9rem;
  font-weight: 700;
}

.texto {
  font-size: 1.5rem;
  margin-left: 80px;
  color: #74788d;
}
