.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.full-width {
    width: 100%;
  }
  .mat-spinner circle {
    stroke: #fff;
  }
  .mat-raised-button {
    line-height: 36px;
    height: 36px;
  }
  .Carregando {
    margin: 0 auto;
}